<div class="container-fluid">
  <div>
    <div class="material jumbotron">
      <mat-card>
        <h1 class="text-center p-4">iQuote</h1>
      </mat-card>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
          <div *ngFor='let quote of quotes; let i=index'>
            <mat-card class="card">
              <mat-card-title id="author"><h4 style="outline: 1px solid red;">{{quote.author}}</h4></mat-card-title>
                <mat-card-subtitle><div>{{myDate|date:'mediumTime'}}</div></mat-card-subtitle>
                <img mat-card-image src="{{quote.image}}" class="mx-auto d-block"/>
                <app-quote-detail *ngIf='quote.showQuotes' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
                </mat-card>
                <mat-card-actions>
                  <button (click)='toggleQuotes(i)' class="btn btn-secondary toggle">Toggle</button>

                </mat-card-actions>
              </div>


  </div>

  <div class="col-md-6">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>
</div>

