@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

img {
  height: 30em;
  width: 40em;
  margin-bottom: 1em;
  border-radius: 1px;
}

.material {
  /* max-width: 800px; */
  margin: auto;
  /* padding: 1em; */
  padding-top: 10vh;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Zen Loop', cursive;
  font-weight: 400;
  font-size: 64px;
}

#author {
  max-width: 300px;
  width: 200px;
  margin-top: 1%;
}
#author a{
  text-decoration: none;
}
#author a:hover {
  max-width: 300px;
  width: 400px;
  text-decoration: none;
}

.toggle {
  margin: 1em;

}

#up,
#down {
  width: 5vw;
  font-size: 32px;
}

mat-card {
  /* background: rgba(36, 36, 36, 0.041); */
  background: #84bef8bd;
}
